{
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [
    { "files": ".eslintrc", "options": { "parser": "json" } },
    { "files": ".prettierrc", "options": { "parser": "json" } }
  ]
}